// Import typography variables
@use '../base/typography' as t;

// Import mixins and variables
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.article-preview {
    margin: 0 auto;
    max-width: 32rem;
    font-family: 'Manrope', sans-serif;
    font-size: t.$body-font-size;
    background-color: v.$white;
    box-shadow: 0 8rem 25rem -10.5rem v.$grayish-blue;
    border-radius: 1rem;

    @include m.landscape-orientation() {
        margin: 3rem auto;
    }

    @include m.breakpoint-md() {
        display: grid;
        grid-template-columns: 27rem 1fr;
        max-width: 65rem;
        box-shadow: 4rem 6.1rem 10rem -8.8rem v.$grayish-blue;
    }

    @include m.breakpoint-md-2() {
        max-width: 70rem;
    }

    &__header-img {
        padding-top: 20rem;
        background-image: url('../img/drawers.webp');
        background-size: cover;
        background-position-y: -1.4rem;
        background-repeat: no-repeat;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        filter: contrast(.9) brightness(1.12);

        @include m.breakpoint-md() {
            padding-top: 0;
            background-position-y: 0;
            border-top-right-radius: initial;
            border-bottom-left-radius: 1rem;
        }
    }

    &__title,
    &__paragraph,
    &__footer,
    &__share-container {
        padding-left: 3.2rem;
        padding-right: 3.1rem;
    }

    &__title {
        padding-top: 4rem;
        font-size: 1.6rem;
        border-top-right-radius: 1rem;

        @include m.breakpoint-md() {
            padding-top: 3rem;
            padding-right: 11rem;
            padding-left: 4rem;
        }
    }

    &__paragraph {
        padding-top: 1.5rem;
        color: v.$desaturated-dark-blue;

        @include m.breakpoint-md() {
            padding-right: 3rem;
            padding-left: 4rem;
        }
    }

    &__title,
    &__author-name {
        font-weight: 700;
        color: v.$very-dark-grayish-blue;
    }

    &__footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        padding: 1.5rem 3.1rem 1.5rem 3.2rem;
        align-items: center;

        @include m.breakpoint-md() {
            margin-top: .5rem;
            padding-right: 4rem;
            padding-bottom: 2.5rem;
            padding-left: 4rem;
        }
    }

    &__share {
        &-container {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            background-color: v.$very-dark-grayish-blue;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;

            @include m.breakpoint-md() {
                top: -9rem;
                bottom: initial;
                left: 50%;
                padding: 2rem;
                width: max-content;
                border-radius: 1rem;
                transform: translateX(-50%);

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    width: 0;
                    height: 0;
                    border-top: solid 12px v.$very-dark-grayish-blue;
                    border-left: solid 12px transparent;
                    border-right: solid 12px transparent;
                }
            }
        }

        &-button-container {
            display: flex;
            align-items: center;

            @include m.breakpoint-md() {
                position: relative;
            }
        }

        &-button,
        &-button-popover {
            width: 2.8rem;
            height: 2.8rem;
            border: none;
            border-radius: 100%;
            background-image: url(../img/icon-share.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &:hover {
                background-color: scale-color(v.$grayish-blue, $lightness: 48%);
            }

            &--selected {
                background-image: url(../img/icon-share-active.svg);
                background-color: v.$desaturated-dark-blue;

                &:hover {
                    background-color: scale-color( v.$grayish-blue, $lightness: -4% );
                }
            }

        }

        &-button-popover {

            &:focus {
                outline: 2px solid v.$black;
            }

            @include m.breakpoint-md() {
                display: none;
            }
        }

        &-options {
            display: flex;
            align-items: center;
            flex: 1;
        }

        &-text {
            color: v.$grayish-blue;
            text-transform: uppercase;
            letter-spacing: .5rem;
        }

        &-text,
        &-fb,
        &-twt,
        &-pin {
            display: inline-block;
        }

        &-fb {
            margin-left: 2rem;
        }

        &-twt,
        &-pin {
            margin-left: 1.5rem;
        }
    }

    &__author {

        &-img {
            border-radius: 100%;
        }

        &-info {
            flex: 1;
            padding-left: 2rem;
        }

    }

    &__publish-date {
        display: inline-block;
        padding-top: .2rem;
        color: v.$grayish-blue;
    }
}